jwt:
  secret: anNoLXNwcmluZ2Jvb3QtYW5kLWp3dC10dXRvcmlhbC10aGlzLWlzLWZvci1nZW5lcmF0aW5nLWp3dC1zZWNyZXRrZXktYmFzZTY0Cg==

security:
  oauth2:
    client:
      registration:
        kakao:
          client-id: {KAKAO_CLIENT_ID}
          client-secret: {KAKAO_CLIENT_SECRET}
          client-authentication-method: client_secret_post
          redirect-uri: http://localhost:8080/login/oauth2/code/kakao
          authorization-grant-type: authorization_code
          client-name: kakao
          scope:
            - profile_nickname
            - account_email

      provider:
        kakao:
          authorization-url: https://kauth.kakao.com/oauth/authorize
          token-uri: https://kauth.kakao.com/oauth/token
          user-info-uri: https://kapi.kakao.com/v2/user/me
          user-name-attribute: id


